/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f9fd;
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.85rem;
}

h3{
    font-size: 1.45rem;
}
/* //////////////////////////////////////////////////////// */

/* UTILITIES */

/* Layout */
.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.box-shadow{
    box-shadow: 0 0 5px 2px #e6ecf1;
    border-radius: 5px;
}

.bgc-white{
    background-color: #ffffff;
}

.float-left{
    float: left;
}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}

.w-70{
    width: 70%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.mr-bottom35{
    margin-bottom: 35px;
}

.mr-bottom60{
    margin-bottom: 60px;
}
/* //////////////////////////////////////////////////////// */

/* Text-styles */
.text-right{
    text-align: right;
}

.text-small{
    font-size: 0.8rem;
}

.text-big{
    font-size: 2.5rem;
    font-weight: 800;
}

.text-bigger{
    font-size: 2.8rem;
    font-weight: 800;
}

.text-weight{
   font-weight: 700;
}

.pop-feat{
    text-transform: uppercase;
}

p{
    line-height: 25px;
}
/* //////////////////////////////////////////////////////// */

/* Menu-style */
ul{
    list-style: none;
}

ul:not(.normal-ul) li{
    display: inline-block;
    line-height: 1;
}

ul a{
    text-decoration: none;
}

.ul-check-before li::before{
    content: "\f058";
    font-family: "FontAwesome";
    color: #fe775a;
    padding-right: 10px;
}

.list-br-right{
    border-right: 2px solid #33475b;
}
/* //////////////////////////////////////////////////////// */

/* Buttons */
.btn{
    display: inline-block;
    min-width: 60px;
    padding: 10px;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fe775a;
    text-decoration: none;
    background-color: #ffffff;
}

.btn.btn-orange{
    color: #ffffff;
    background-color: #fe775a;
}

.btn-orange.btn-big{
    padding: 20px 40px;
}
/* //////////////////////////////////////////////////////// */

/* Img-styles */
img.small-img{
    max-width: 130px;
    max-height: 100px;
    margin-bottom: 30px;
}
/* //////////////////////////////////////////////////////// */

/* HEADER */

/* Top-bar */
.top-bar{
    line-height: 80px;
    border-bottom: 2px solid #33475b;
}

.top-bar li:first-child{
    padding-right: 15px;
    margin-right: 15px;
}

.top-bar .search{
    color: #01a6be;
}

.top-bar .btn.btn-orange{
    margin-left: 20px;
}
/* //////////////////////////////////////////////////////// */

/* Bottom-bar */
.bottom-bar{
    line-height: 80px;
}

.bottom-bar img{
    vertical-align: middle;
}

.bottom-bar a{
    margin-right: 15px;
}

.bottom-bar a i{
    padding-left: 10px;
}
/* //////////////////////////////////////////////////////// */

/* MAIN CONTENT */

/* Jumbotron */
.jumbotron-main{
    height: 500px;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size: 1210px;
    background-position: 100% 19%;
    background-repeat: no-repeat;
    background-color: #fff3ef;
}

.jumbotron .title-wrapper{
    padding: 50px 100px 0 0;
}

.jumbotron .colored-line{
    height: 85px;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    margin-bottom: 60px;
}
/* //////////////////////////////////////////////////////// */

/* Cube sect. */
.container.cube-wrapper{
    width: 800px;
    text-align: center;
}

.cube-wrapper img{
    max-width: 250px;
    max-height: 300px;
}
/* //////////////////////////////////////////////////////// */

/* CRM sect. */

/* Left */
.crm-sect{
    padding: 70px 0 70px 0;
}

.crm-sect .w-30{
    text-align: center;
}


/* Right */
.crm-sect .w-70{
    padding-right: 65px;
}

.crm-sect .crmH4{
    display: inline-block;
    padding-right: 50px;
    vertical-align: middle;
}

.crm-sect .crmH4 ~ hr{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    border: 1px solid #899397
}

.crm-sect .features-list{
    margin-top: 35px;
}

.crm-sect li:nth-child(2),
.crm-sect li:last-child{
    margin-left: 15px;
}
/* //////////////////////////////////////////////////////// */

/* Hub-Columns sect. */
.columns-sect .hub-col{
    max-width: calc(100% / 3 - 40px);
    background-color: #ffffff;
    padding: 20px 30px;
    text-align: center;
}

.columns-sect .hub-col:nth-child(2){
    margin: 0 60px 60px 60px;
} 

.columns-sect .hub-col p{
    padding-bottom: 60px;
    border-bottom: 2px solid #899397;
}

.hub-col .normal-ul{
    text-align: left;
}
/* //////////////////////////////////////////////////////// */

/* Community-sect. */
.community-sect{
    padding: 35px 0 70px 0;
    background: linear-gradient(to right, #00a9b8, 50%, #00bca6);
    text-align: center;
    color: #ffffff;
}

.community-sect .community-col{
    width: calc(100% / 4);
    padding: 30px 0;
    border-right: 1px solid #fff;
}

.community-sect .top-col-wrapper .community-col:last-child,
.community-sect .bottom-col-wrapper .community-col:last-child{
    border-right: none;
}

.community-sect .top-col-wrapper{
    border-bottom: 1px solid #fff;
}

.community-sect .community-col .com-img-wrapper{
    height: 52px;
}

.community-sect .community-col img{
    margin-bottom: 15px;
    max-width: 150px;
}

.community-sect .community-col .text-big{
    display: inline-block;
    margin-bottom: 15px;
}

.community-sect .community-col .plus{
    font-size: 1.8rem;
    position: relative;
    bottom: 3.5px;
}
/* //////////////////////////////////////////////////////// */

/* Customers sect. */

/* Left */
.customers-sect{
    padding-top: 80px;
}

.customers-sect .left-customers-wrapper{
    padding: 0 80px;
}

.customers-sect .left-customers-wrapper p{
    line-height: 35px;
}

.customers-sect .left-customers-wrapper .text-bigger{
    display: inline-block;
}

/* Right */
.customers-sect .right-customers-wrapper{
    text-align: right;
    margin-left: 150px;
}

.customers-sect .right-customers-wrapper li{
    padding: 10px;
}

.customers-sect .right-customers-wrapper img{
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
}
/* //////////////////////////////////////////////////////// */


