/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}


/* UTILITIES */

/* Layout */
.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.float-left{
    float: left;
}

.w-50{
    width: 50%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.text-right{
    text-align: right;
}

.mr-bottom35{
    margin-bottom: 35px;
}

/* Menu-style */
ul{
    list-style: none;
}

ul li{
    display: inline-block;
    line-height: 1;
}

ul a{
    text-decoration: none;
}

.list-br-right{
    border-right: 2px solid #33475b;
}

/* Buttons */
.btn{
    display: inline-block;
    min-width: 60px;
    padding: 10px;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fe775a;
    text-decoration: none;
    background-color: #ffffff;
}

.btn.btn-orange{
    color: #ffffff;
    background-color: #fe775a;
}

.btn-orange.btn-big{
    padding: 20px 40px;
}


/* HEADER */

/* Top-bar */
.top-bar{
    background-color: #f4f9fd;
    line-height: 80px;
    border-bottom: 2px solid #33475b;
}

.top-bar li:first-child{
    padding-right: 15px;
    margin-right: 15px;
}

.top-bar .search{
    color: #01a6be;
}

.top-bar .btn.btn-orange{
    margin-left: 20px;
}

/* Bottom-bar */
.bottom-bar{
    line-height: 80px;
}

.bottom-bar img{
    vertical-align: middle;
}

.bottom-bar a{
    margin-right: 15px;
}

.bottom-bar a i{
    padding-left: 10px;
}


/* MAIN CONTENT */

/* Jumbotron */
.jumbotron-main{
    height: 500px;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size: 66%;
    background-position: 100% 19%;
    background-repeat: no-repeat;
    background-color: #fff3ef;
}

.jumbotron .title-wrapper{
    padding: 50px 100px 0 0;
}

.jumbotron .title-wrapper h1{
    font-size: 2.5rem;
}

.jumbotron .title-wrapper p:not(.text-small){
    line-height: 25px;
}

.jumbotron .title-wrapper .text-small{
    font-size: 0.8rem;
}

.jumbotron .colored-line{
    height: 85px;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    margin-bottom: 60px;
}

/* Cube sect. */
.container.cube-wrapper{
    width: 800px;
    text-align: center;
}

.cube-wrapper img{
    max-width: 200px;
    max-height: 250px;
}

.cube-wrapper p{
    line-height: 25px;
}